<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top clearfix">
            <section class="row region region-footer-first">
                <div id="block-footer"
                    class="block block-block-content block-block-content53398ba9-9d54-4e70-8946-22227a9ed1ae">

                    <div class="content">

                        <div>
                            <div class="row justify-content-center footer mb-4">
                                <div class="col-md-4">
                                    <p class="footer-title">
                                        Ayuntamiento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>de las Torres de
                                        Cotillas <span class="subrayado">.</span></p>
                                    <p class="footer-links"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/map-pin.svg">Plaza
                                        Adolfo Suárez, · 30565&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>- Las
                                        Torres de Cotillas (Murcia)</p>
                                    <p class="footer-links"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/click.svg">Instancia
                                    </p>
                                    <p class="footer-links"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/mail.svg">alcaldia@lastorresdecotillas.es
                                    </p>
                                    <p class="footer-links"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/phone.svg">968626511
                                    </p>
                                    <p class="footer-links"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/clock.svg">Horario
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title">Acceso rápido <span class="subrayado">.</span></p>
                                    <p class="footer-links">Actualidad</p>
                                    <p class="footer-links">Eventos</p>
                                    <p class="footer-links">Reservas Polideportivo</p>
                                    <p class="footer-links">Contacto</p>
                                    <p class="footer-links">Urbanismo - Impresos y solicitudes</p>
                                    <p class="footer-links"><a href="/accesibilidad">Accesibilidad</a></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title">Útil <span class="subrayado">.</span></p>
                                    <p class="footer-links">Oferta de Empleo</p>
                                    <p class="footer-links">Contratación en licitación</p>
                                    <p class="footer-links">Tablón de edictos</p>
                                    <p class="footer-links">Quejas y sugerencias</p>
                                    <p class="footer-links">Incidencias alumbrado público</p>
                                    <p class="footer-links">Fuerzas armadas</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <section class="row justify-content-center mb-4" id="div-icons-social">
                <img class="icon-footer" src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_FB.svg">
                <img class="icon-footer" src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_tw.svg">
                <img class="icon-footer" src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_IG.svg">
                <img class="icon-footer" src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_WA.svg">
            </section>

            <section class="row region region-footer-second">
                <div id="block-bloqueprivacidadfooter"
                    class="block block-block-content block-block-contentfb819fa8-b448-4ec3-8496-9a82ee4e6408">


                    <div class="content">

                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <div id="footer-privacidad">
                                <div id="div-text-feder">
                                    <div class="col-3" id="div-img-footer-cotillas"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/logo-footer.svg"
                                            id="logo-footer"></div>
                                    <div id="text-footer-title"><span class="col-6" id="text-feder">Fondo Europeo de
                                            Desarrollo Regional</span> <span id="text-feder-2">Una manera de hacer
                                            Europa</span></div>
                                    <div class="col-3" id="div-img-footer-europe"><img
                                            src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/logo-feder.svg"
                                            id="img-feder"></div>
                                </div>
                                <hr>
                                <div id="container-links-footer">
                                    <div id="links-footer"><span>Mapa del sitio</span> <span>Aviso legal</span>
                                        <span>Politica de Privacidad</span> <span>Intranet</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>



        </div>
    </div>
</footer>