<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top clearfix">
            <section class="row region region-footer-first">
                <div id="block-footer"
                    class="block block-block-content block-block-content53398ba9-9d54-4e70-8946-22227a9ed1ae">

                    <div class="content">

                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">

                            <div class="row justify-content-center footer mb-4">
                                <div class="col-md-4">
                                    <p class="footer-title">
                                        Ayuntamiento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <br>
                                        de las Torres de Cotillas <span class="subrayado">.</span>
                                    </p>
                                    <p class="footer-links first-element">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/map-pin.svg"
                                            alt="map pin" width="35" height="35">Plaza Adolfo Suárez, ·
                                        30565&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <br>
                                        - Las Torres de Cotillas (Murcia)
                                    </p>
                                    <p class="footer-links">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/click.svg"
                                            alt="clic" width="35" height="35">Instancia
                                    </p>
                                    <p class="footer-links">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/mail.svg"
                                            alt="mail" width="35" height="35">ayuntamiento@lastorresdecotillas.es
                                    </p>
                                    <p class="footer-links">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/phone.svg"
                                            alt="phone" width="35" height="35">968626511
                                    </p>
                                    <p class="footer-links">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/clock.svg"
                                            alt="clock" width="35" height="35">Horario
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title">
                                        Acceso rápido <span class="subrayado">.</span>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/noticias-actualidad">Actualidad</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/eventos">Eventos</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="https://polideportivo.lastorresdigital.es/CronosWeb"
                                            target="_blank">Reservas Polideportivo</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/contacto">Contacto</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/informacion-urbanistica">Urbanismo - Impresos y solicitudes</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/accesibilidad">Accesibilidad</a>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title">
                                        Útil <span class="subrayado">.</span>
                                    </p>
                                    <p class="footer-links">
                                        <a href="https://lastorresdecotillas.sedelectronica.es/board/9753e838-f59b-11de-b600-00237da12c6a/"
                                            target="_blank">Oferta de Empleo</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="https://lastorresdecotillas.sedelectronica.es/contractor-profile-list"
                                            target="_blank">Contratación en licitación</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="https://lastorresdecotillas.sedelectronica.es/board"
                                            target="_blank">Tablón de edictos</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/buzon-de-quejas-y-sugerencias/">Quejas y sugerencias</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="/incidencias-alumbrado-publico/">Incidencias alumbrado público</a>
                                    </p>
                                    <p class="footer-links">
                                        <a href="https://reclutamiento.defensa.gob.es/" target="_blank">Fuerzas
                                            armadas</a>
                                    </p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </section>

            <section class="row justify-content-center">
                <div id="container-logos-rrss">
                    <div class="col-3" id="div-img-footer-cotillas">
                        <a><img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/logo-footer.svg"
                                alt="logo footer" width="60" height="105" id="logo-footer"></a>
                    </div>
                    <div id="div-icons-social">
                        <a href="https://www.facebook.com/ayuntamientolastorresdecotillas/" target="_blank"><img
                                class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_FB.svg"
                                alt="fb" width="46" height="46"></a><a
                            href="https://twitter.com/i/flow/login?redirect_after_login=%2FAytoLasTorresC"
                            target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_tw.svg"
                                alt="tw" width="46" height="46"></a><a
                            href="https://www.instagram.com/aytolastorresdecotillas/" target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_IG.svg"
                                alt="ig" width="46" height="46"></a><a
                            href="https://api.whatsapp.com/send/?phone=34968626511&amp;text&amp;type=phone_number&amp;app_absent=0"
                            target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_WA.svg"
                                alt="wa" width="46" height="46"></a>
                    </div>
                    <div class="col-3" id="div-img-footer-europe">
                        <a><img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/logo-feder.svg"
                                alt="logo feder" width="119" height="92" id="iåmg-feder"></a>
                    </div>
                </div>
            </section>

            <section class="row region region-footer-second">
                <div class="block block-block-content block-block-contentfb819fa8-b448-4ec3-8496-9a82ee4e6408"
                    id="block-bloqueprivacidadfooter">
                    <div class="content">
                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <div id="footer-privacidad">
                                <div id="div-text-feder">
                                    <div id="text-footer-title">
                                        <span class="col-6" id="text-feder">Fondo Europeo de Desarrollo Regional</span>
                                        <span id="text-feder-2">Una manera de hacer Europa</span>
                                    </div>
                                </div>
                                <hr>
                                <div id="container-links-footer">
                                    <div id="links-footer">
                                        <a href="/mapa-del-sitio"><span>Mapa del sitio</span></a> <a
                                            href="/aviso-legal"><span>Aviso legal</span></a> <a
                                            href="/proteccion-de-datos"><span>Politica de Privacidad</span></a> <a
                                            href="https://sede.lastorresdigital.es/intranet/"><span>Intranet</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</footer>