main,
.wrapper {
    background-color: #333;
    color: white;
}
#main-nav-cotillas,
#item-transparencia {
    background-color: #333;
}
#nav-item-sede,
#nav-item-polideportivo,
#nav-item-tramites,
#nav-item-sanidad,
#nav-item-agenda,
#nav-item-oficina,
#nav-item-fondos,
#item-transparencia {
    border: 1px solid white;
}
#nav-item-sede a,
#nav-item-polideportivo a,
#nav-item-tramites a,
#nav-item-sanidad a,
#nav-item-agenda a,
#nav-item-oficina a,
#nav-item-fondos a,
#item-transparencia {
    color: white !important;
}
.container,
.container .button {
    background-color: #333 !important;
    color: white !important;
}
#navbar-main {
    background-color: #333 !important;
}
#items-container a {
    color: white;
}
.container .title {
    color: white;
    border-top: 4px solid white !important;
}
.container #feed_proposals a,
.container #feed_proposals .see-all,
.container #feed_debates a,
.container #feed_debates .see-all,
.container #feed_processes a,
.container #feed_processes .see-all {
    color: white;
}
#feed_processes .no-items {
    background-color: #333;
    color: white;
    border: 1px solid white;
}
footer.site-footer {
    background-color: #333 !important;
}
footer.site-footer p,
footer.site-footer a,
footer.site-footer span {
    color: white !important;
}
